h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
}

.container {
  background-image: url("images/3.jpg");
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
}

.jumbotron {
  background: none;
  text-align: center;
  color: black;
}

img {
  height: 300px;
}

ul {
  font-family: "Roboto Slab", serif;
}

.about-text {
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    text-align: center;
    display: block;
    padding: 0;
    margin: auto;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2vw;
  margin: auto;
  
}

.grid-item {
  margin: auto;
}
