body {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
}

header {
  min-height: 300px;
  background-image: url(images/1.jpg);
  background-size: cover;
  text-align: center;
}

header .container {
  margin: auto;
  display: flex;
  justify-content: center;
}

section .container {
  background-image: url(images/3.jpg);
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.jumbotron {
  background: none;
  text-align: center;
  color: black;
}

img {
  margin: 5px auto;
  height: 300px;
}

video {
  margin: 5px auto;
  width: 400px;
  height: 400px;
}

ul {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  list-style-image: url(images/Actions-list-add-icon.png);
}

.about-text {
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    text-align: center;
    display: block;
    padding: 0;
    margin: auto;
  }
}